<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <br>
            <form>
                <h6>YOU HAVE SELECTED EMPLOYEE WITH ID = {{id}}</h6>
                <div>
                    <label>EDIT NAME</label>
                    <input type="text" class="form-control" placeholder="Edit Name" [(ngModel)]="empData.name" name="name">
                </div>
                <div>
                    <label>EDIT EMAIL</label>
                    <input type="text" class="form-control" placeholder="Edit Email" [(ngModel)]="empData.email" name="email">
                </div>
                <div>
                    <label>EDIT AGE</label>
                    <input type="number" class="form-control" placeholder="Edit Age" [(ngModel)]="empData.age" name="age">
                </div>
                
                <button class="btn btn-secondary" (click)="editEmployee()">SUBMIT</button>
            </form>
        </div>
    </div>
</div>