<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1 >NO OF USERS: <span [ngClass]="{colorNumber: arrayData.length===0}" [innerHTML]="arrayData.length"></span></h1>
      <hr>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <app-addUser (childData)="contactSelected($event)"></app-addUser>
    </div>
    <div class="col-lg-6 col-md-12">
      <app-userList [child]="arrayData" (sendBack)="delete($event)"></app-userList>
    </div>
  </div>
</div>
